@charset "UTF-8";

.tech-login-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    form {
        margin-bottom: 0;
    }

    .tech-login-form-content {
        width: 300px;
        border: 1px solid #c6ccd2;
        border-radius: 2px;
        padding: 20px;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    .tech-login-form-action {
        display: flex;
        justify-content: center;
    }
}
